<div class="col-md-12 m-2">
  <div class="col-md-12 d-flex border rounded align-items-center flex-column p-3">
    <div class="col-md-12">
      <div class="text-break"><h3><%= @resource.title.nil? == true ? "" : @resource.title %></h3></div>
    </div>
    <div class="col-md-12">
      <div class="text-break text-right"><%= link_to @resource.user.username, user_path(@resource.user) %> </div>
    </div>
    <div class="col-md-12">
      <div class="text-break"><p><%= @resource.body %> </p></div>
    </div>
    <div class="col-md-12">
      <div class="text-break text-left"><p style="font-size: 9px;"><%=@resource.created_at%></p></div>
    </div>
    <%= link_to "Back", :back %>
  </div>
</div>