<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%# <a class="navbar-brand" href="#">memegram</a> %>
  <%= link_to 'memegram', root_url, class: "navbar-brand", id: "header-home-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Home', root_url, class: "nav-link", id: "header-home" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Categories', categories_url, class: "nav-link", id: "header-categories" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Create meme', new_post_path, class: "nav-link", id: "header-create-meme" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'My account', user_path(current_user), class: "nav-link", id: "header-home" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: "nav-link", id: "header-exit" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: "nav-link", id: "header-login" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: "nav-link", id: "header-signup" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>